

body{
  background-color: black;
  font-family: "Stardos Stencil";
  padding-bottom: 30px;
}
h1{
  font-weight: 700;
  font-size: 3rem;
  line-height: 1.0;
  letter-spacing: 0px;
  font-style: normal;
  text-align: center;
  color: #fff;
  font-family: "Stardos Stencil";
}
p{
    text-align: center;
    font-size: 1.3rem;
    line-height: 1.5;
    font-weight: 400;
    margin-left: 15px;
    margin-right: 15px;
    color: #fff;
}
.topper{
  text-align: center;
  border: 2px solid yellow;
  padding: 20px 10px;
  font-size: 1.3rem;
  line-height: 1.5;
  font-weight: 400;
  margin-left: 15px;
  margin-right: 15px;
  color: #fff;
  text-decoration: underline black;

}
.topper:hover{
  border: 2.5px solid red;
  z-index: 1;
  transform: scale(0.9);
}

.image{
  margin-left: 400px;
  align-items: center;
}

/* collapsible */
.collapsible {
  font-weight: bolder;
  margin-bottom: 5px;
  background-color: #4d4d4d;
  color: white;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: 1px solid;
  text-align: left;
  outline: none;
  font-size: 15px;
}

.active, .collapsible:hover {
  background-color: #555;
}

.collapsible:after {
  content: '\002B';
  color: white;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
  background-color: #4d4d4d;
  line-height:2rem;
  height: auto;
}

.pre-section{
  font-family: 'Poppins',sans-serif;
  line-height: 1rem;
  padding-top: 25px;
}
a{

}
.coll-content{
  margin: 2% 0;
  text-decoration: none;
  color: #fff;
  border: 1px solid #fff;
  border-color: #fff #FFC312 #fff #FFC312;
  border-width: 0.5px 5.5px 0.5px 5.5px;
  border-width: 0.5px 5.5px 0.5px 5.5px;
  padding: 5px 25px;
  font-size: 1.2rem;
  font-family: 'Poppins',sans-serif;
  top: 5px;
}
.coll-content:hover{
  border-color: #FFC312 #fff #FFC312 #fff;
}



/* form */

.form-head{
  color: yellow;
  text-align: center;
  font-size: 1.5rem;
  line-height: 1.5;
  font-weight: 900;
}
/* buttom */
.button{

    margin: 2% 0;
    text-decoration: none;
    color: #fff;
    border: 1px solid #fff;
    border-color: #fff #FFC312 #fff #FFC312;
    border-width: 0.5px 5.5px 0.5px 5.5px;
    padding: 5px 25px;
    font-size: 1.2rem;
    font-family: 'Poppins',sans-serif;
    font-weight: 650;
    align-items: center;
    top: 20px;
    margin-bottom: 50px;
}

.button:hover {
  border-radius: 45%;
  border: #fff solid;
  color: #FFC312;
}
