/*google fonts cdn link*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;300;400;500;600;700;800;900&family=Roboto:wght@400;500;700;900&display=swap');
.packageone{
	margin:0;
	padding:0;
	height: auto;
	width: 100%;
	overflow: hidden;
}
.packageone .heading{
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	color: #444;
	background:#fff;
	font-family: 'Poppins',sans-serif;
	text-transform: uppercase;
	font-size: 4rem;
	padding:10px 0;
}
.packageone .heading:before{
	position: absolute;
	content: '';
	bottom: 0;
	left: 50%;
	background: #FFC312;
	height: 5px;
	width: 18%;
}
.packageone .heading:after{
	position: absolute;
	content: '';
	bottom: 0;
	left: 32%;
	background: #000;
	height: 5px;
	width: 18%;
}
.packageone .slider-getstarted{
	position: relative;
	height: 500px;
	width: 100%;
	overflow: hidden;
}
.packageone .slider-getstarted ul{
	position: relative;
	height: 100%;
	width: 100%;
}
.packageone .slider-getstarted ul li{
	position: relative;
	display: inline-block;
	height: 100%;
	width: calc(100% / 4.2);
	overflow: hidden;
	margin: -0.10%;
	padding: 0;
	cursor: pointer;
}
.packageone .slider-getstarted ul li:before{
	position: absolute;
	content: '';
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	background:rgba(0, 0, 0, 0.5);
	z-index: 1;
	transition: 0.3s linear;
	opacity: 0;
}
.packageone .slider-getstarted ul li:hover:before{
	opacity: 1;
}
.packageone .slider-getstarted ul li a img{
	position: absolute;
	height: 100%;
	width: 100%;
	object-fit: cover;
	transition: 0.6s linear;
}
.packageone .slider-getstarted ul li:hover a img{
	transform: scale(1.08);
}
.packageone .slider-getstarted ul li a p{
	position: absolute;
	height: auto;
	width: 100%;
	color: #fff;
	font-family: 'Poppins',sans-serif;
	top: 40%;
	left: -100%;
	transform: translateY(-50%);
	text-align: center;
	font-size: 2.5rem;
	font-weight: 650;
	letter-spacing: 2px;
	text-transform: uppercase;
	color: #FFC312;
	text-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
	z-index: 2;
	transition: 0.3s linear;
}
.packageone .slider-getstarted ul li:hover a p{
	left: 0;
}

/*presale offers*/
.preSaleOffers{
	position: relative;
	height: auto;
	width: 100%;
}
.preSaleOffers h1{
	position: relative;
	height: auto;
	width: 100%;
	text-align: center;
	font-family: 'Roboto',sans-serif;
	font-size: 2.8rem;
	font-weight: 900;
	letter-spacing:-2px; 
}
.preSaleOffers h1:before{
	position: absolute;
	content: attr(data-text);
	color: #FFC312;
	z-index: -1;
	left: 22.2%;
	top: 0;
	text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.9);
}
.preSaleOffers h1:after{
	position: absolute;
	content: attr(data-text);
	/*color: #eee;*/
	z-index: -1;
	left: 3%;
	bottom: 0;
	font-family: sans-serif;
	font-size: 3.8rem;
	z-index: -2;
	background:linear-gradient(180deg,#ccc,#ccc, #ddd ,#ddd,#ddd,transparent,transparent,transparent);
	-webkit-background-clip:text;
	-webkit-text-fill-color: transparent;
}
.preSaleOffers p{
	position: relative;
	width: 100%;
	height: 0;
	text-align: center;
	font-family: 'Poppins',sans-serif;
	font-size: 1.5rem;
	font-weight: 550;
	color: #555;
	margin-top: -2%;
}
.preSaleOffers .links{
	position: relative;
	height: auto;
	width: 96%;
	display: grid;
	grid-template-columns: auto auto auto;
	grid-gap:10px 15px;
	margin-top: 5%;
	margin-left: 4%;
}
.preSaleOffers .links a{
	position: relative;
	text-decoration: none;
	color: #000;
	border:1px solid #ccc;
	padding:30px 0;
	text-align: center;
	border-bottom: 8px solid #666;
	font-size: 1.5rem;
	font-family: 'Roboto',sans-serif;
	font-weight: 500;
	color: #444;
	box-shadow: 0px 0px 1px rgba(0, 0, 0, 0.9);
	border-radius: 5px 5px 0 0;
}
.preSaleOffers .links a:before{
	position: absolute;
	content: '';
	bottom: -8.5%;
	left: -0.15%;
	background: #FFC312;
	height: 8px;
	width: 0;
	transition: 0.3s linear;
}
.preSaleOffers .links a:hover:before{
	width: 100.2%;
}
.preSaleOffers .links a:hover{
	color: #000;
	font-weight: 650;
}
.preSaleOffers .footer{
	position: relative;
	height: auto;
	width: 96.5%;
	text-align: center;
	margin-left: 4%;
	margin-top: 4%;
	padding:10px 0px;
	line-height: 1.8rem;
	font-family: 'Poppins',sans-serif;
	color: #222;
	font-weight: 550;
	font-size: 1.1rem;
	background: #000;
	color: #fff;
	/*overflow: hidden;*/
	-webkit-box-reflect : 4px linear-gradient(transparent,rgba(0, 0, 0, 0.5));
}
.preSaleOffers .footer:before{
	position: absolute;
	content: '';
	height: 55%;
	width: 100%;
	background: #000;
	top: -25%;
	left: -0.6%;
	transform:skewX(25deg) rotateX(-45deg);
}
.preSaleOffers .footer:after{
	position: absolute;
	content: '';
	top:-17%;
	right: 0;
	background: #000;
	height: 50%;
	width: 10%;
	z-index: -1;
}
.preSaleOffers .footer span{
	color: #FFC312;
}
/*get in touch with us*/
.preSaleOffers .get-in-touch{
	position: relative;
	height: auto;
	width: 97.5%;
	left: 5%;
	margin-top: 5%;
}
.preSaleOffers .get-in-touch h1{
	position: relative;
	font-family: 'Roboto',sans-serif;
	letter-spacing: 5px;
	text-shadow: 0px 0px  2px rgba(255, 255, 255, 0.5);
}
.preSaleOffers .get-in-touch h1:before{
	position: absolute;
	content: attr(data-text);
	text-shadow: 0px 0px  2px rgba(255, 255, 255, 0.5);
}
.preSaleOffers .get-in-touch form{
	position: relative;
	height: auto;
	width: 40%;
	background:#000;
	left: 30%;
	margin-top: 4%;
	padding: 5px 10px;
}
.preSaleOffers .get-in-touch form select,
.preSaleOffers .get-in-touch form input{
	position: relative;
	display: block;
	height: 30px;
	width: 100%;
	box-shadow: none;
	outline: none;
	background: #000;
	border:2px solid #fff;
	color: #fff;
	margin:5% 0;
}
.preSaleOffers .get-in-touch form input{
	width: 97%;
	padding:0 5px;
}
.preSaleOffers .get-in-touch form input[type="submit"]{
	width: 100%;
	cursor: pointer;
	transition: 0.2s linear;
}
.preSaleOffers .get-in-touch form input[type="submit"]:hover{
	background: #fff;
	color: #000;
}
.preSaleOffers .get-in-touch form input::placeholder{
	color: #fff;
}